In [1]:
import pandas as pd
#import numpy as np

In [2]:
religiousMotifs = pd.read_csv("WDB_ReligiousMotif.csv")
meetingPlaces = pd.read_csv("WDB_WitchesMeetingPlace.csv")
demonicPacts = pd.read_csv("WDB_DemonicPact.csv")
whiteMagic = pd.read_csv("WDB_WhiteMagic.csv")

accuseds = pd.read_csv("WDB_Accused.csv")
ritualObjects = pd.read_csv("WDB_RitualObject.csv")
cases = pd.read_csv("WDB_Case.csv")

In [3]:
religiousMotifs.drop(['MotifSystemId', 'Createdby',
'MotifID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis=1, inplace = True)

In [4]:
demonicPacts.drop(['DemonicSystemId', 'Createdby',
'DemonicID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis=1, inplace = True)

In [5]:
meetingPlaces.drop(['MeetingPlaceSystemId', 'Createdby',
'MeetingPlaceID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis = 1,inplace = True)

In [8]:
whiteMagic.drop(['WhiteMagicSystemId', 'Createdby',
'WhiteMagicID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis = 1,inplace = True)

In [9]:
accuseds.drop(['AccusedSystemId', 'Createdby',
'AccusedID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon','Patronymic',
'DesTitle','Age_estcareer',
'Age_estchild','Notes',
'Res_NGR_Northing','Res_NGR_Easting',
'Res_NGR_Letters'], axis=1, inplace = True)

In [10]:
cases = cases[['CaseRef','AccusedRef','CaseStart_date']]

In [11]:
witchesData = ritualObjects[['RitualObjectRef','RitualObjectID','CaseRef','RitualObject_Type']]

In [12]:
#combine witchesData (only have ritualObjects now) and Cases
witchesData = witchesData.merge(cases,left_on="CaseRef",right_on="CaseRef",suffixes = (False, False))
witchesData

,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,AccusedRef,CaseStart_date
0,RO/JO/1,1,C/JO/2632,Yarn,A/JO/2536,19/4/1643
1,RO/JO/2,2,C/JO/2632,Egg,A/JO/2536,19/4/1643
2,RO/JO/3,3,C/JO/2632,Meal,A/JO/2536,19/4/1643
3,RO/JO/4,4,C/JO/2632,Shirt,A/JO/2536,19/4/1643
4,RO/JO/5,5,C/JO/2632,Water,A/JO/2536,19/4/1643
...,...,...,...,...,...,...
627,RO/LA/82,82,C/EGD/1242,Stones,A/EGD/1230,8/9/1630
628,RO/LA/83,83,C/EGD/1243,Stones,A/EGD/1231,8/9/1630
629,RO/LA/84,84,C/EGD/34,Herb,A/EGD/23,28/5/1559
630,RO/LA/88,88,C/EGD/140,Hairbelt,A/EGD/129,28/7/1603
631,RO/LA/89,89,C/EGD/140,Corpse,A/EGD/129,28/7/1603

In [13]:
#count unique ritualObject_type, unique CaseRef, unique AccusedRef
print(len(witchesData['RitualObject_Type'].unique()))
print(len(witchesData['CaseRef'].unique()))
print(len(witchesData['AccusedRef'].unique()))

128
222
222

In [14]:
#combine witchesData (have ritualObjects & Case) and Accuseds
witchesData = accuseds.merge(witchesData,left_on="AccusedRef",right_on="AccusedRef",suffixes = (False, False))
witchesData

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,Res_burgh,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date
0,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/417,417,C/EGD/1025,Salve,26/4/1626
1,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/418,418,C/EGD/1025,Drink,26/4/1626
2,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/419,419,C/EGD/1025,Herb,26/4/1626
3,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/499,499,C/EGD/1025,Book,26/4/1626
4,A/EGD/1034,Steven,Malcome,Steven,Malcolm,NaN,Male,NaN,Leckie,P/ST/919,...,NaN,NaN,NaN,NaN,NaN,RO/JO/543,543,C/EGD/1045,Water,20/3/1628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,A/LA/2989,John,Mylne,John,Milne,NaN,Female,NaN,NaN,P/ST/956,...,NaN,NaN,NaN,NaN,NaN,RO/LA/578,578,C/LA/3130,Powder,NaN
628,A/LA/2994,Janet,McNaught,Janet,MacNaught,NaN,Female,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,RO/LA/594,594,C/LA/3135,Straw,19/5/1658
629,A/LA/3001,Jonet,Kennedy,Janet,Kennedy,NaN,Female,NaN,NaN,NaN,...,NaN,NaN,Married,NaN,NaN,RO/LA/614,614,C/LA/3142,Wax,1590
630,A/LA/3115,Anna,Tait,Anne,Tait,Hononni,Female,NaN,NaN,P/JO/3539,...,Haddington,NaN,Married,Middling,NaN,RO/LA/636,636,C/LA/3277,Herb,30/12/1634
631,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,NaN,NaN,NaN,NaN,NaN,RO/LA/637,637,C/LA/3278,Herb,NaN

In [15]:
witchesData.describe(include = ["object"])

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Res_settlement,Res_parish,Res_presbytery,Res_county,Res_burgh,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,CaseRef,RitualObject_Type,CaseStart_date
count,632,632,632,620,621,76,631,244,371,452,620,42,11,258,168,83,632,632,632,601
unique,222,84,200,44,177,27,2,74,85,44,27,11,4,4,6,11,632,222,128,147
top,A/EGD/52,Margaret,Stewart,Janet,Stewart,Scudder,Female,Nether Keith,P/ST/826,Aberdeen,Renfrew,Stirling,Gael,Married,Middling,Vagabond,RO/JO/319,C/EGD/63,Water,19/3/1697
freq,13,56,18,72,21,9,491,13,24,54,108,9,4,181,90,26,1,13,60,54

In [16]:
#RitualObject_Type as index, to count it appear times
ritualObjectApparesTime = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby('RitualObject_Type') \
                                    .count() \
                                    .sort_values(by = ['AccusedRef'], ascending = False)
ritualObjectApparesTime.columns = ['AccusedsNum','CasesNum']
ritualObjectApparesTime 
#AccusedsNum = CasesNum, means exactly one ritual object 
#only be count once in a case if it appeared in that case

                   AccusedsNum  CasesNum
RitualObject_Type
Water                       60        60
Wax/clay images             47        47
Stones                      33        33
Hair                        28        28
Herb                        26        26
...                        ...       ...
Crook                        1         1
Iron                         1         1
Sand                         1         1
Sea Nut                      1         1
Ale                          1         1

[128 rows x 2 columns]

In [17]:
#show each ritual Objcet appear in which cases, relate to who
ritualObjectRelated = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby(['RitualObject_Type', 'CaseRef', 'AccusedRef']) \
                                    .count() \
                                    .sort_values(by = ['RitualObject_Type','CaseRef'], ascending = False)
ritualObjectRelated

Empty DataFrame
Columns: []
Index: [(Yarn, C/JO/2632, A/JO/2536), (Yarn, C/EGD/597, A/EGD/586), (Yarn, C/EGD/2172, A/EGD/2117), (Yarn, C/EGD/160, A/EGD/149), (Yarn, C/EGD/157, A/EGD/146), (Wort, C/EGD/179, A/EGD/168), (Wood, C/EGD/136, A/EGD/125), (Wine, C/EGD/63, A/EGD/52), (Wheat, C/EGD/2453, A/EGD/2377), (Wheat, C/EGD/1889, A/EGD/1855), (Wheat, C/EGD/1888, A/EGD/1854), (Wheat, C/EGD/170, A/EGD/159), (Wayburn leaf, C/EGD/2231, A/EGD/2169), (Wax/clay images, C/LA/2980, A/LA/2846), (Wax/clay images, C/LA/2979, A/LA/2845), (Wax/clay images, C/LA/2978, A/LA/2844), (Wax/clay images, C/LA/2977, A/LA/2843), (Wax/clay images, C/LA/2976, A/LA/2842), (Wax/clay images, C/LA/2975, A/LA/2841), (Wax/clay images, C/LA/2974, A/LA/2840), (Wax/clay images, C/LA/2973, A/LA/2839), (Wax/clay images, C/LA/2972, A/LA/2838), (Wax/clay images, C/LA/2970, A/LA/2836), (Wax/clay images, C/LA/2968, A/LA/2834), (Wax/clay images, C/LA/2959, A/LA/2826), (Wax/clay images, C/LA/2911, A/LA/2793), (Wax/clay images, C/JO/3035, A/JO/2898), (Wax/clay images, C/EGD/743, A/EGD/732), (Wax/clay images, C/EGD/726, A/EGD/715), (Wax/clay images, C/EGD/699, A/EGD/688), (Wax/clay images, C/EGD/63, A/EGD/52), (Wax/clay images, C/EGD/53, A/EGD/42), (Wax/clay images, C/EGD/46, A/EGD/35), (Wax/clay images, C/EGD/45, A/EGD/34), (Wax/clay images, C/EGD/39, A/EGD/28), (Wax/clay images, C/EGD/2174, A/EGD/2119), (Wax/clay images, C/EGD/1935, A/EGD/1896), (Wax/clay images, C/EGD/1781, A/EGD/1764), (Wax/clay images, C/EGD/1780, A/EGD/1763), (Wax/clay images, C/EGD/1779, A/EGD/1762), (Wax/clay images, C/EGD/1778, A/EGD/1761), (Wax/clay images, C/EGD/1777, A/EGD/1760), (Wax/clay images, C/EGD/1774, A/EGD/1757), (Wax/clay images, C/EGD/1773, A/EGD/1756), (Wax/clay images, C/EGD/1749, A/EGD/1732), (Wax/clay images, C/EGD/1748, A/EGD/1731), (Wax/clay images, C/EGD/1747, A/EGD/1730), (Wax/clay images, C/EGD/1746, A/EGD/1729), (Wax/clay images, C/EGD/1745, A/EGD/1728), (Wax/clay images, C/EGD/1744, A/EGD/1727), (Wax/clay images, C/EGD/1558, A/EGD/1544), (Wax/clay images, C/EGD/1474, A/EGD/1460), (Wax/clay images, C/EGD/137, A/EGD/126), (Wax/clay images, C/EGD/124, A/EGD/113), (Wax/clay images, C/EGD/1224, A/EGD/1212), (Wax/clay images, C/EGD/110, A/EGD/99), (Wax/clay images, C/EGD/108, A/EGD/97), (Wax/clay images, C/EGD/107, A/EGD/96), (Wax/clay images, C/EGD/104, A/EGD/93), (Wax/clay images, C/EGD/103, A/EGD/92), (Wax, C/LA/3142, A/LA/3001), (Wax, C/EGD/2256, A/EGD/2192), (Wax, C/EGD/2158, A/EGD/2105), (Wax, C/EGD/120, A/EGD/109), (Watercress, C/LA/3102, A/LA/2961), (Watercress, C/EGD/179, A/EGD/168), (Water, C/JO/3107, A/JO/2967), (Water, C/JO/3093, A/JO/2954), (Water, C/JO/3085, A/JO/2946), (Water, C/JO/3082, A/JO/2943), (Water, C/JO/3044, A/JO/2907), (Water, C/JO/3038, A/JO/2901), (Water, C/JO/3033, A/JO/2894), (Water, C/JO/2882, A/JO/2761), (Water, C/JO/2843, A/JO/2731), (Water, C/JO/2632, A/JO/2536), (Water, C/EGD/935, A/EGD/924), (Water, C/EGD/884, A/EGD/873), (Water, C/EGD/831, A/EGD/820), (Water, C/EGD/785, A/EGD/774), (Water, C/EGD/748, A/EGD/737), (Water, C/EGD/53, A/EGD/42), (Water, C/EGD/41, A/EGD/30), (Water, C/EGD/323, A/EGD/312), (Water, C/EGD/317, A/EGD/306), (Water, C/EGD/316, A/EGD/305), (Water, C/EGD/292, A/EGD/281), (Water, C/EGD/28, A/EGD/17), (Water, C/EGD/2453, A/EGD/2377), (Water, C/EGD/2362, A/EGD/2295), (Water, C/EGD/2264, A/EGD/2200), (Water, C/EGD/2263, A/EGD/2199), (Water, C/EGD/2262, A/EGD/2198), (Water, C/EGD/2256, A/EGD/2192), (Water, C/EGD/2234, A/EGD/2171), (Water, C/EGD/2208, A/EGD/2147), (Water, C/EGD/2172, A/EGD/2117), (Water, C/EGD/2158, A/EGD/2105), (Water, C/EGD/2154, A/EGD/2101), (Water, C/EGD/2141, A/EGD/2088), ...]

[632 rows x 0 columns]

In [51]:
#count each accused witch used how many ritual object
#the top 20 witches (top 20 used the most the number of ritual object)
top20_accused = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby(['AccusedRef']) \
                                    .count() \
                                    .sort_values(by = ['RitualObject_Type','CaseRef'], ascending = False) \
                                    .head(20)

top20_accused = top20_accused[['RitualObject_Type']]
top20_accused.columns = ['RitualObject_Counts']
#top20_accused concludes AccusedRef and "the number of ritual objects that witch used"
top20_accused

            RitualObject_Counts
AccusedRef
A/EGD/52                     13
A/EGD/1544                   12
A/EGD/2105                    9
A/EGD/2117                    9
A/EGD/131                     8
A/EGD/155                     8
A/EGD/168                     8
A/EGD/1034                    7
A/EGD/1082                    7
A/EGD/125                     7
A/EGD/2192                    7
A/EGD/306                     7
A/EGD/734                     7
A/EGD/774                     7
A/EGD/93                      7
A/EGD/99                      7
A/EGD/122                     6
A/EGD/1246                    6
A/EGD/1753                    6
A/EGD/2198                    6

In [52]:
#show each witch used what ritual objects (type)
details = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby(['AccusedRef','RitualObject_Type','CaseRef']) \
                                    .count() \
                                    .sort_values(by = ['AccusedRef','RitualObject_Type'], ascending = False)
details

Empty DataFrame
Columns: []
Index: [(A/LA/3116, Herb, C/LA/3278), (A/LA/3115, Herb, C/LA/3277), (A/LA/3001, Wax, C/LA/3142), (A/LA/2994, Straw, C/LA/3135), (A/LA/2989, Powder, C/LA/3130), (A/LA/2989, Cloth, C/LA/3130), (A/LA/2961, Watercress, C/LA/3102), (A/LA/2961, Thread, C/LA/3102), (A/LA/2961, Snail, C/LA/3102), (A/LA/2961, Clay, C/LA/3102), (A/LA/2912, Thread, C/LA/3054), (A/LA/2912, Salt, C/LA/3054), (A/LA/2912, Herb, C/LA/3054), (A/LA/2912, Cloth, C/LA/3054), (A/LA/2846, Wax/clay images, C/LA/2980), (A/LA/2846, Hair, C/LA/2980), (A/LA/2846, Bone, C/LA/2980), (A/LA/2846, Blood (animal), C/LA/2980), (A/LA/2845, Wax/clay images, C/LA/2979), (A/LA/2845, Hair, C/LA/2979), (A/LA/2845, Bone, C/LA/2979), (A/LA/2845, Blood (animal), C/LA/2979), (A/LA/2844, Wax/clay images, C/LA/2978), (A/LA/2844, Hair, C/LA/2978), (A/LA/2844, Bone, C/LA/2978), (A/LA/2844, Blood (animal), C/LA/2978), (A/LA/2843, Wax/clay images, C/LA/2977), (A/LA/2843, Hair, C/LA/2977), (A/LA/2843, Bone, C/LA/2977), (A/LA/2843, Blood (animal), C/LA/2977), (A/LA/2842, Wax/clay images, C/LA/2976), (A/LA/2842, Hair, C/LA/2976), (A/LA/2842, Bone, C/LA/2976), (A/LA/2842, Blood (animal), C/LA/2976), (A/LA/2841, Wax/clay images, C/LA/2975), (A/LA/2841, Hair, C/LA/2975), (A/LA/2841, Bone, C/LA/2975), (A/LA/2841, Blood (animal), C/LA/2975), (A/LA/2840, Wax/clay images, C/LA/2974), (A/LA/2840, Hair, C/LA/2974), (A/LA/2840, Bone, C/LA/2974), (A/LA/2840, Blood (animal), C/LA/2974), (A/LA/2839, Wax/clay images, C/LA/2973), (A/LA/2839, Hair, C/LA/2973), (A/LA/2839, Bone, C/LA/2973), (A/LA/2839, Blood (animal), C/LA/2973), (A/LA/2838, Wax/clay images, C/LA/2972), (A/LA/2838, Hair, C/LA/2972), (A/LA/2838, Bone, C/LA/2972), (A/LA/2838, Blood (animal), C/LA/2972), (A/LA/2836, Wax/clay images, C/LA/2970), (A/LA/2836, Hair, C/LA/2970), (A/LA/2836, Bone, C/LA/2970), (A/LA/2836, Blood (animal), C/LA/2970), (A/LA/2834, Wax/clay images, C/LA/2968), (A/LA/2826, Wax/clay images, C/LA/2959), (A/LA/2826, Hair, C/LA/2959), (A/LA/2826, Bone, C/LA/2959), (A/LA/2826, Blood (animal), C/LA/2959), (A/LA/2807, Flesh, C/LA/2949), (A/LA/2793, Wax/clay images, C/LA/2911), (A/LA/2793, Toad, C/LA/2911), (A/LA/2759, Stones, C/LA/2876), (A/LA/2542, Caird, C/LA/2638), (A/JO/3086, Herb, C/JO/3248), (A/JO/3086, Curch, C/JO/3248), (A/JO/3086, Butter, C/JO/3248), (A/JO/2968, Thread, C/JO/3108), (A/JO/2968, Coal, C/JO/3108), (A/JO/2968, Cloth, C/JO/3108), (A/JO/2967, Water, C/JO/3107), (A/JO/2967, Stones, C/JO/3107), (A/JO/2957, Ring, C/JO/3096), (A/JO/2956, Nail trimmings, C/JO/3095), (A/JO/2956, Hair, C/JO/3095), (A/JO/2954, Water, C/JO/3093), (A/JO/2954, Stones, C/JO/3093), (A/JO/2954, Shears, C/JO/3093), (A/JO/2946, Water, C/JO/3085), (A/JO/2943, Water, C/JO/3082), (A/JO/2943, Butter, C/JO/3082), (A/JO/2940, Belt, C/JO/3078), (A/JO/2921, Rowan tree, C/JO/3059), (A/JO/2921, Hand (dead), C/JO/3059), (A/JO/2921, Fire, C/JO/3059), (A/JO/2907, Water, C/JO/3044), (A/JO/2907, Straw, C/JO/3044), (A/JO/2901, Water, C/JO/3038), (A/JO/2899, Meal, C/JO/3036), (A/JO/2899, Knife, C/JO/3036), (A/JO/2898, Wax/clay images, C/JO/3035), (A/JO/2898, Stones, C/JO/3035), (A/JO/2898, Milk, C/JO/3035), (A/JO/2898, Earth, C/JO/3035), (A/JO/2894, Water, C/JO/3033), (A/JO/2894, Stones, C/JO/3033), (A/JO/2876, Tobacco, C/JO/3012), (A/JO/2876, Bannock, C/JO/3012), (A/JO/2761, Water, C/JO/2882), (A/JO/2760, Hen, C/JO/2881), ...]

[632 rows x 0 columns]

In [53]:
#combine top20_accused and datails
#before combination, need to flatten table
top20_accused = top20_accused.reset_index()
details = details.reset_index()

combine = pd.merge(top20_accused,details,left_on="AccusedRef",right_on="AccusedRef")
combine.head(20)
combine

     AccusedRef  RitualObject_Counts RitualObject_Type     CaseRef
0      A/EGD/52                   13              Wine    C/EGD/63
1      A/EGD/52                   13   Wax/clay images    C/EGD/63
2      A/EGD/52                   13           Vinegar    C/EGD/63
3      A/EGD/52                   13            Thread    C/EGD/63
4      A/EGD/52                   13             Shirt    C/EGD/63
..          ...                  ...               ...         ...
149  A/EGD/2198                    6            Stones  C/EGD/2262
150  A/EGD/2198                    6    Nail trimmings  C/EGD/2262
151  A/EGD/2198                    6              Hair  C/EGD/2262
152  A/EGD/2198                    6          Clothing  C/EGD/2262
153  A/EGD/2198                    6           Bannock  C/EGD/2262

[154 rows x 4 columns]

In [58]:
#group the combine table
group_combine = combine.groupby(['AccusedRef','CaseRef','RitualObject_Counts','RitualObject_Type']) \
                                                    .count() \
                                                    .sort_values(by = ['RitualObject_Counts','AccusedRef','RitualObject_Type'], ascending = False)
#group_combine
group_combine.head(25)

Empty DataFrame
Columns: []
Index: [(A/EGD/52, C/EGD/63, 13, Wine), (A/EGD/52, C/EGD/63, 13, Wax/clay images), (A/EGD/52, C/EGD/63, 13, Vinegar), (A/EGD/52, C/EGD/63, 13, Thread), (A/EGD/52, C/EGD/63, 13, Shirt), (A/EGD/52, C/EGD/63, 13, Salt), (A/EGD/52, C/EGD/63, 13, Glass), (A/EGD/52, C/EGD/63, 13, Elfshot), (A/EGD/52, C/EGD/63, 13, Egg), (A/EGD/52, C/EGD/63, 13, Corpse powder), (A/EGD/52, C/EGD/63, 13, Corpse), (A/EGD/52, C/EGD/63, 13, Cat), (A/EGD/52, C/EGD/63, 13, Aqua Vitae), (A/EGD/1544, C/EGD/1558, 12, Wax/clay images), (A/EGD/1544, C/EGD/1558, 12, Water), (A/EGD/1544, C/EGD/1558, 12, Toad), (A/EGD/1544, C/EGD/1558, 12, Thread), (A/EGD/1544, C/EGD/1558, 12, Nail trimmings), (A/EGD/1544, C/EGD/1558, 12, Liver), (A/EGD/1544, C/EGD/1558, 12, Herb), (A/EGD/1544, C/EGD/1558, 12, Grain), (A/EGD/1544, C/EGD/1558, 12, Flesh), (A/EGD/1544, C/EGD/1558, 12, Corpse), (A/EGD/1544, C/EGD/1558, 12, Cloth), (A/EGD/1544, C/EGD/1558, 12, Beetle)]