In [1]:
import pandas as pd
#import numpy as np

In [2]:
religiousMotifs = pd.read_csv("WDB_ReligiousMotif.csv")
meetingPlaces = pd.read_csv("WDB_WitchesMeetingPlace.csv")
demonicPacts = pd.read_csv("WDB_DemonicPact.csv")
whiteMagic = pd.read_csv("WDB_WhiteMagic.csv")

accuseds = pd.read_csv("WDB_Accused.csv")
ritualObjects = pd.read_csv("WDB_RitualObject.csv")
cases = pd.read_csv("WDB_Case.csv")

In [3]:
religiousMotifs.drop(['MotifSystemId', 'Createdby',
'MotifID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis=1, inplace = True)

In [4]:
ritualObjects.describe(include = ["object"])

,RitualObjectRef,RitualObjectSystemId,CaseRef,RitualObject_Type,Createdby,Createdate,Lastupdatedby,Lastupdatedon
count,632,632,632,632,632,632,632,632
unique,632,2,222,128,2,96,2,104
top,RO/JO/55,LA,C/EGD/63,Water,LEM,31/01/2002,LEM,13/11/2002
freq,1,403,13,60,403,46,350,75

In [5]:
religiousMotifs.describe(include = ["object"])

        MotifRef     CaseRef Motif_Type
count        128         128        128
unique       128          80         17
top     RM/JO/49  C/EGD/2141      Three
freq           1           5         39

In [6]:
demonicPacts.drop(['DemonicSystemId', 'Createdby',
'DemonicID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis=1, inplace = True)

In [7]:
demonicPacts.describe(include = ["object"])

       DemonicRef    CaseRef  Demonic_Type Demonic_Text
count         961        961           960          205
unique        961        356            15          171
top     DP/LA/253  C/EGD/606  Anti-baptism     shoulder
freq            1          9           215            9

In [8]:
meetingPlaces.drop(['MeetingPlaceSystemId', 'Createdby',
'MeetingPlaceID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis = 1,inplace = True)

In [9]:
meetingPlaces.describe(include = ["object"])

,MeetingPlaceRef,CaseRef,MeetingPlace_Place,Location
count,561,561,486,529
unique,561,230,62,348
top,MP/JO/299,C/EGD/435,House,"murdered minister, Mr. John Hardie"
freq,1,15,91,16

In [50]:
meetingPlaces.MeetingPlace_Place.value_counts()

House           91
Yard            69
Hilltop         46
Moor            42
Burn            24
                ..
Jail             1
Howe             1
Waterside        1
Foot of hill     1
Meal market      1
Name: MeetingPlace_Place, Length: 62, dtype: int64

In [52]:
meetingPlaces.MeetingPlace_Place.unique()

array(['Yard', nan, 'Burn', 'Hilltop', 'House', 'House yard', 'Loch',
       'Road', 'Mill', 'Coalpit', 'Bridge', 'Haugh', 'Moor', 'Well',
       'Mercat Cross', 'Dam', 'Dean bank head', 'Waterside', 'Fish cross',
       'Meal market', 'Jail', 'Foot of hill', 'yard', 'Cross', 'Field',
       'Links', 'Barn', 'Meadow', 'Town wall', 'Quarry', 'Park', 'Loan',
       'Tolbooth', 'Fairy mound', 'Shore', 'Valley', 'Bed', 'Dyke',
       'Howe', 'Den', 'River', 'Forest', 'Ward', 'Bush', 'River mouth',
       'Kirkyard', 'Bank Side', 'Hollow', 'Wood', 'burn', 'Farm', 'Kirk',
       'Thorn', 'Gate', 'Craigs', 'Ship', 'Salt pans', 'Green', 'Ford',
       'Glen', 'Windmill', 'Dye-House', 'Bank Head'], dtype=object)

In [10]:
whiteMagic.drop(['WhiteMagicSystemId', 'Createdby',
'WhiteMagicID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon'], axis = 1,inplace = True)

In [11]:
accuseds.drop(['AccusedSystemId', 'Createdby',
'AccusedID', 'Createdate',
'Lastupdatedby', 'Lastupdatedon','Patronymic',
'DesTitle','Age_estcareer',
'Age_estchild','Notes',
'Res_NGR_Northing','Res_NGR_Easting',
'Res_NGR_Letters'], axis=1, inplace = True)

In [12]:
cases = cases[['CaseRef','AccusedRef','CaseStart_date']]

In [13]:
witchesData = ritualObjects[['RitualObjectRef','RitualObjectID','CaseRef','RitualObject_Type']]

In [14]:
#combine witchesData (only have ritualObjects now) and Cases
witchesData = witchesData.merge(cases,left_on="CaseRef",right_on="CaseRef",suffixes = (False, False))
witchesData

,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,AccusedRef,CaseStart_date
0,RO/JO/1,1,C/JO/2632,Yarn,A/JO/2536,19/4/1643
1,RO/JO/2,2,C/JO/2632,Egg,A/JO/2536,19/4/1643
2,RO/JO/3,3,C/JO/2632,Meal,A/JO/2536,19/4/1643
3,RO/JO/4,4,C/JO/2632,Shirt,A/JO/2536,19/4/1643
4,RO/JO/5,5,C/JO/2632,Water,A/JO/2536,19/4/1643
...,...,...,...,...,...,...
627,RO/LA/82,82,C/EGD/1242,Stones,A/EGD/1230,8/9/1630
628,RO/LA/83,83,C/EGD/1243,Stones,A/EGD/1231,8/9/1630
629,RO/LA/84,84,C/EGD/34,Herb,A/EGD/23,28/5/1559
630,RO/LA/88,88,C/EGD/140,Hairbelt,A/EGD/129,28/7/1603
631,RO/LA/89,89,C/EGD/140,Corpse,A/EGD/129,28/7/1603

In [15]:
#count unique ritualObject_type, unique CaseRef, unique AccusedRef
print(len(witchesData['RitualObject_Type'].unique()))
print(len(witchesData['CaseRef'].unique()))
print(len(witchesData['AccusedRef'].unique()))

128
222
222

In [16]:
#combine witchesData (have ritualObjects & Case) and Accuseds
witchesData = accuseds.merge(witchesData,left_on="AccusedRef",right_on="AccusedRef",suffixes = (False, False))
witchesData

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,Res_burgh,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date
0,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/417,417,C/EGD/1025,Salve,26/4/1626
1,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/418,418,C/EGD/1025,Drink,26/4/1626
2,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/419,419,C/EGD/1025,Herb,26/4/1626
3,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,NaN,NaN,Middling,NaN,RO/JO/499,499,C/EGD/1025,Book,26/4/1626
4,A/EGD/1034,Steven,Malcome,Steven,Malcolm,NaN,Male,NaN,Leckie,P/ST/919,...,NaN,NaN,NaN,NaN,NaN,RO/JO/543,543,C/EGD/1045,Water,20/3/1628
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,A/LA/2989,John,Mylne,John,Milne,NaN,Female,NaN,NaN,P/ST/956,...,NaN,NaN,NaN,NaN,NaN,RO/LA/578,578,C/LA/3130,Powder,NaN
628,A/LA/2994,Janet,McNaught,Janet,MacNaught,NaN,Female,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,RO/LA/594,594,C/LA/3135,Straw,19/5/1658
629,A/LA/3001,Jonet,Kennedy,Janet,Kennedy,NaN,Female,NaN,NaN,NaN,...,NaN,NaN,Married,NaN,NaN,RO/LA/614,614,C/LA/3142,Wax,1590
630,A/LA/3115,Anna,Tait,Anne,Tait,Hononni,Female,NaN,NaN,P/JO/3539,...,Haddington,NaN,Married,Middling,NaN,RO/LA/636,636,C/LA/3277,Herb,30/12/1634
631,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,NaN,NaN,NaN,NaN,NaN,RO/LA/637,637,C/LA/3278,Herb,NaN

In [17]:
witchesData.describe(include = ["object"])

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Res_settlement,Res_parish,Res_presbytery,Res_county,Res_burgh,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,CaseRef,RitualObject_Type,CaseStart_date
count,632,632,632,620,621,76,631,244,371,452,620,42,11,258,168,83,632,632,632,601
unique,222,84,200,44,177,27,2,74,85,44,27,11,4,4,6,11,632,222,128,147
top,A/EGD/52,Margaret,Stewart,Janet,Stewart,Scudder,Female,Nether Keith,P/ST/826,Aberdeen,Renfrew,Stirling,Gael,Married,Middling,Vagabond,RO/LA/634,C/EGD/63,Water,19/3/1697
freq,13,56,18,72,21,9,491,13,24,54,108,9,4,181,90,26,1,13,60,54

In [18]:
#RitualObject_Type as index, to count it appear times
ritualObjectApparesTime = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby('RitualObject_Type') \
                                    .count() \
                                    .sort_values(by = ['AccusedRef'], ascending = False)
ritualObjectApparesTime.columns = ['AccusedsNum','CasesNum']
ritualObjectApparesTime 
#AccusedsNum = CasesNum, means exactly one ritual object 
#only be count once in a case if it appeared in that case

                   AccusedsNum  CasesNum
RitualObject_Type
Water                       60        60
Wax/clay images             47        47
Stones                      33        33
Hair                        28        28
Herb                        26        26
...                        ...       ...
Crook                        1         1
Iron                         1         1
Sand                         1         1
Sea Nut                      1         1
Ale                          1         1

[128 rows x 2 columns]

In [19]:
#show each ritual Objcet appear in which cases, relate to who
ritualObjectRelated = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby(['RitualObject_Type', 'CaseRef', 'AccusedRef']) \
                                    .count() \
                                    .sort_values(by = ['RitualObject_Type','CaseRef'], ascending = False)
ritualObjectRelated

Empty DataFrame
Columns: []
Index: [(Yarn, C/JO/2632, A/JO/2536), (Yarn, C/EGD/597, A/EGD/586), (Yarn, C/EGD/2172, A/EGD/2117), (Yarn, C/EGD/160, A/EGD/149), (Yarn, C/EGD/157, A/EGD/146), (Wort, C/EGD/179, A/EGD/168), (Wood, C/EGD/136, A/EGD/125), (Wine, C/EGD/63, A/EGD/52), (Wheat, C/EGD/2453, A/EGD/2377), (Wheat, C/EGD/1889, A/EGD/1855), (Wheat, C/EGD/1888, A/EGD/1854), (Wheat, C/EGD/170, A/EGD/159), (Wayburn leaf, C/EGD/2231, A/EGD/2169), (Wax/clay images, C/LA/2980, A/LA/2846), (Wax/clay images, C/LA/2979, A/LA/2845), (Wax/clay images, C/LA/2978, A/LA/2844), (Wax/clay images, C/LA/2977, A/LA/2843), (Wax/clay images, C/LA/2976, A/LA/2842), (Wax/clay images, C/LA/2975, A/LA/2841), (Wax/clay images, C/LA/2974, A/LA/2840), (Wax/clay images, C/LA/2973, A/LA/2839), (Wax/clay images, C/LA/2972, A/LA/2838), (Wax/clay images, C/LA/2970, A/LA/2836), (Wax/clay images, C/LA/2968, A/LA/2834), (Wax/clay images, C/LA/2959, A/LA/2826), (Wax/clay images, C/LA/2911, A/LA/2793), (Wax/clay images, C/JO/3035, A/JO/2898), (Wax/clay images, C/EGD/743, A/EGD/732), (Wax/clay images, C/EGD/726, A/EGD/715), (Wax/clay images, C/EGD/699, A/EGD/688), (Wax/clay images, C/EGD/63, A/EGD/52), (Wax/clay images, C/EGD/53, A/EGD/42), (Wax/clay images, C/EGD/46, A/EGD/35), (Wax/clay images, C/EGD/45, A/EGD/34), (Wax/clay images, C/EGD/39, A/EGD/28), (Wax/clay images, C/EGD/2174, A/EGD/2119), (Wax/clay images, C/EGD/1935, A/EGD/1896), (Wax/clay images, C/EGD/1781, A/EGD/1764), (Wax/clay images, C/EGD/1780, A/EGD/1763), (Wax/clay images, C/EGD/1779, A/EGD/1762), (Wax/clay images, C/EGD/1778, A/EGD/1761), (Wax/clay images, C/EGD/1777, A/EGD/1760), (Wax/clay images, C/EGD/1774, A/EGD/1757), (Wax/clay images, C/EGD/1773, A/EGD/1756), (Wax/clay images, C/EGD/1749, A/EGD/1732), (Wax/clay images, C/EGD/1748, A/EGD/1731), (Wax/clay images, C/EGD/1747, A/EGD/1730), (Wax/clay images, C/EGD/1746, A/EGD/1729), (Wax/clay images, C/EGD/1745, A/EGD/1728), (Wax/clay images, C/EGD/1744, A/EGD/1727), (Wax/clay images, C/EGD/1558, A/EGD/1544), (Wax/clay images, C/EGD/1474, A/EGD/1460), (Wax/clay images, C/EGD/137, A/EGD/126), (Wax/clay images, C/EGD/124, A/EGD/113), (Wax/clay images, C/EGD/1224, A/EGD/1212), (Wax/clay images, C/EGD/110, A/EGD/99), (Wax/clay images, C/EGD/108, A/EGD/97), (Wax/clay images, C/EGD/107, A/EGD/96), (Wax/clay images, C/EGD/104, A/EGD/93), (Wax/clay images, C/EGD/103, A/EGD/92), (Wax, C/LA/3142, A/LA/3001), (Wax, C/EGD/2256, A/EGD/2192), (Wax, C/EGD/2158, A/EGD/2105), (Wax, C/EGD/120, A/EGD/109), (Watercress, C/LA/3102, A/LA/2961), (Watercress, C/EGD/179, A/EGD/168), (Water, C/JO/3107, A/JO/2967), (Water, C/JO/3093, A/JO/2954), (Water, C/JO/3085, A/JO/2946), (Water, C/JO/3082, A/JO/2943), (Water, C/JO/3044, A/JO/2907), (Water, C/JO/3038, A/JO/2901), (Water, C/JO/3033, A/JO/2894), (Water, C/JO/2882, A/JO/2761), (Water, C/JO/2843, A/JO/2731), (Water, C/JO/2632, A/JO/2536), (Water, C/EGD/935, A/EGD/924), (Water, C/EGD/884, A/EGD/873), (Water, C/EGD/831, A/EGD/820), (Water, C/EGD/785, A/EGD/774), (Water, C/EGD/748, A/EGD/737), (Water, C/EGD/53, A/EGD/42), (Water, C/EGD/41, A/EGD/30), (Water, C/EGD/323, A/EGD/312), (Water, C/EGD/317, A/EGD/306), (Water, C/EGD/316, A/EGD/305), (Water, C/EGD/292, A/EGD/281), (Water, C/EGD/28, A/EGD/17), (Water, C/EGD/2453, A/EGD/2377), (Water, C/EGD/2362, A/EGD/2295), (Water, C/EGD/2264, A/EGD/2200), (Water, C/EGD/2263, A/EGD/2199), (Water, C/EGD/2262, A/EGD/2198), (Water, C/EGD/2256, A/EGD/2192), (Water, C/EGD/2234, A/EGD/2171), (Water, C/EGD/2208, A/EGD/2147), (Water, C/EGD/2172, A/EGD/2117), (Water, C/EGD/2158, A/EGD/2105), (Water, C/EGD/2154, A/EGD/2101), (Water, C/EGD/2141, A/EGD/2088), ...]

[632 rows x 0 columns]

In [20]:
#count each accused witch used how many ritual object
#the top 20 witches (top 20 used the most the number of ritual object)
top20_accused = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby(['AccusedRef']) \
                                    .count() \
                                    .sort_values(by = ['RitualObject_Type','CaseRef'], ascending = False) \
                                    .head(200)

top200_accused = top20_accused[['RitualObject_Type']]
top200_accused.columns = ['RitualObject_Counts']
#top20_accused concludes AccusedRef and "the number of ritual objects that witch used"
top200_accused

            RitualObject_Counts
AccusedRef
A/EGD/52                     13
A/EGD/1544                   12
A/EGD/2105                    9
A/EGD/2117                    9
A/EGD/131                     8
...                         ...
A/EGD/2339                    1
A/EGD/2395                    1
A/EGD/30                      1
A/EGD/390                     1
A/EGD/423                     1

[200 rows x 1 columns]

In [21]:
#show each witch used what ritual objects (type)
details = witchesData[['AccusedRef','CaseRef','RitualObject_Type']] \
                                    .groupby(['AccusedRef','RitualObject_Type','CaseRef']) \
                                    .count() \
                                    .sort_values(by = ['AccusedRef','RitualObject_Type'], ascending = False)
details

Empty DataFrame
Columns: []
Index: [(A/LA/3116, Herb, C/LA/3278), (A/LA/3115, Herb, C/LA/3277), (A/LA/3001, Wax, C/LA/3142), (A/LA/2994, Straw, C/LA/3135), (A/LA/2989, Powder, C/LA/3130), (A/LA/2989, Cloth, C/LA/3130), (A/LA/2961, Watercress, C/LA/3102), (A/LA/2961, Thread, C/LA/3102), (A/LA/2961, Snail, C/LA/3102), (A/LA/2961, Clay, C/LA/3102), (A/LA/2912, Thread, C/LA/3054), (A/LA/2912, Salt, C/LA/3054), (A/LA/2912, Herb, C/LA/3054), (A/LA/2912, Cloth, C/LA/3054), (A/LA/2846, Wax/clay images, C/LA/2980), (A/LA/2846, Hair, C/LA/2980), (A/LA/2846, Bone, C/LA/2980), (A/LA/2846, Blood (animal), C/LA/2980), (A/LA/2845, Wax/clay images, C/LA/2979), (A/LA/2845, Hair, C/LA/2979), (A/LA/2845, Bone, C/LA/2979), (A/LA/2845, Blood (animal), C/LA/2979), (A/LA/2844, Wax/clay images, C/LA/2978), (A/LA/2844, Hair, C/LA/2978), (A/LA/2844, Bone, C/LA/2978), (A/LA/2844, Blood (animal), C/LA/2978), (A/LA/2843, Wax/clay images, C/LA/2977), (A/LA/2843, Hair, C/LA/2977), (A/LA/2843, Bone, C/LA/2977), (A/LA/2843, Blood (animal), C/LA/2977), (A/LA/2842, Wax/clay images, C/LA/2976), (A/LA/2842, Hair, C/LA/2976), (A/LA/2842, Bone, C/LA/2976), (A/LA/2842, Blood (animal), C/LA/2976), (A/LA/2841, Wax/clay images, C/LA/2975), (A/LA/2841, Hair, C/LA/2975), (A/LA/2841, Bone, C/LA/2975), (A/LA/2841, Blood (animal), C/LA/2975), (A/LA/2840, Wax/clay images, C/LA/2974), (A/LA/2840, Hair, C/LA/2974), (A/LA/2840, Bone, C/LA/2974), (A/LA/2840, Blood (animal), C/LA/2974), (A/LA/2839, Wax/clay images, C/LA/2973), (A/LA/2839, Hair, C/LA/2973), (A/LA/2839, Bone, C/LA/2973), (A/LA/2839, Blood (animal), C/LA/2973), (A/LA/2838, Wax/clay images, C/LA/2972), (A/LA/2838, Hair, C/LA/2972), (A/LA/2838, Bone, C/LA/2972), (A/LA/2838, Blood (animal), C/LA/2972), (A/LA/2836, Wax/clay images, C/LA/2970), (A/LA/2836, Hair, C/LA/2970), (A/LA/2836, Bone, C/LA/2970), (A/LA/2836, Blood (animal), C/LA/2970), (A/LA/2834, Wax/clay images, C/LA/2968), (A/LA/2826, Wax/clay images, C/LA/2959), (A/LA/2826, Hair, C/LA/2959), (A/LA/2826, Bone, C/LA/2959), (A/LA/2826, Blood (animal), C/LA/2959), (A/LA/2807, Flesh, C/LA/2949), (A/LA/2793, Wax/clay images, C/LA/2911), (A/LA/2793, Toad, C/LA/2911), (A/LA/2759, Stones, C/LA/2876), (A/LA/2542, Caird, C/LA/2638), (A/JO/3086, Herb, C/JO/3248), (A/JO/3086, Curch, C/JO/3248), (A/JO/3086, Butter, C/JO/3248), (A/JO/2968, Thread, C/JO/3108), (A/JO/2968, Coal, C/JO/3108), (A/JO/2968, Cloth, C/JO/3108), (A/JO/2967, Water, C/JO/3107), (A/JO/2967, Stones, C/JO/3107), (A/JO/2957, Ring, C/JO/3096), (A/JO/2956, Nail trimmings, C/JO/3095), (A/JO/2956, Hair, C/JO/3095), (A/JO/2954, Water, C/JO/3093), (A/JO/2954, Stones, C/JO/3093), (A/JO/2954, Shears, C/JO/3093), (A/JO/2946, Water, C/JO/3085), (A/JO/2943, Water, C/JO/3082), (A/JO/2943, Butter, C/JO/3082), (A/JO/2940, Belt, C/JO/3078), (A/JO/2921, Rowan tree, C/JO/3059), (A/JO/2921, Hand (dead), C/JO/3059), (A/JO/2921, Fire, C/JO/3059), (A/JO/2907, Water, C/JO/3044), (A/JO/2907, Straw, C/JO/3044), (A/JO/2901, Water, C/JO/3038), (A/JO/2899, Meal, C/JO/3036), (A/JO/2899, Knife, C/JO/3036), (A/JO/2898, Wax/clay images, C/JO/3035), (A/JO/2898, Stones, C/JO/3035), (A/JO/2898, Milk, C/JO/3035), (A/JO/2898, Earth, C/JO/3035), (A/JO/2894, Water, C/JO/3033), (A/JO/2894, Stones, C/JO/3033), (A/JO/2876, Tobacco, C/JO/3012), (A/JO/2876, Bannock, C/JO/3012), (A/JO/2761, Water, C/JO/2882), (A/JO/2760, Hen, C/JO/2881), ...]

[632 rows x 0 columns]

In [22]:
#combine top20_accused and datails
#before combination, need to flatten table
top20_accused = top20_accused.reset_index()
details = details.reset_index()

combine = pd.merge(top20_accused,details,left_on="AccusedRef",right_on="AccusedRef")
combine.head(20)
combine

,AccusedRef,CaseRef_x,RitualObject_Type_x,RitualObject_Type_y,CaseRef_y
0,A/EGD/52,13,13,Wine,C/EGD/63
1,A/EGD/52,13,13,Wax/clay images,C/EGD/63
2,A/EGD/52,13,13,Vinegar,C/EGD/63
3,A/EGD/52,13,13,Thread,C/EGD/63
4,A/EGD/52,13,13,Shirt,C/EGD/63
...,...,...,...,...,...
605,A/EGD/2339,1,1,Belt,C/EGD/2410
606,A/EGD/2395,1,1,Axe,C/EGD/2471
607,A/EGD/30,1,1,Water,C/EGD/41
608,A/EGD/390,1,1,Flesh,C/EGD/401
609,A/EGD/423,1,1,Flesh,C/EGD/434

In [23]:
#group the combine table
group_combine = combine.groupby(['AccusedRef','CaseRef','RitualObject_Counts','RitualObject_Type']) \
                                                    .count() \
                                                    .sort_values(by = ['RitualObject_Counts','AccusedRef','RitualObject_Type'], ascending = False)
#group_combine
#pd.set_option('display.max_rows', None)
group_combine

KeyError: 'CaseRef'

In [ ]:
#combine meeting place
witchesData = witchesData.merge(meetingPlaces,how = 'left', left_on="CaseRef",right_on="CaseRef",suffixes = (False, False))
witchesData

In [24]:
witchesData.describe(include = ["object"])

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Res_settlement,Res_parish,Res_presbytery,Res_county,Res_burgh,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,CaseRef,RitualObject_Type,CaseStart_date
count,632,632,632,620,621,76,631,244,371,452,620,42,11,258,168,83,632,632,632,601
unique,222,84,200,44,177,27,2,74,85,44,27,11,4,4,6,11,632,222,128,147
top,A/EGD/52,Margaret,Stewart,Janet,Stewart,Scudder,Female,Nether Keith,P/ST/826,Aberdeen,Renfrew,Stirling,Gael,Married,Middling,Vagabond,RO/LA/634,C/EGD/63,Water,19/3/1697
freq,13,56,18,72,21,9,491,13,24,54,108,9,4,181,90,26,1,13,60,54

In [25]:
#combine Religious Motifs
witchesData = witchesData.merge(religiousMotifs,how = 'left', left_on="CaseRef",right_on="CaseRef",suffixes = (False, False))
witchesData

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type
0,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,Middling,NaN,RO/JO/417,417,C/EGD/1025,Salve,26/4/1626,NaN,NaN
1,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,Middling,NaN,RO/JO/418,418,C/EGD/1025,Drink,26/4/1626,NaN,NaN
2,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,Middling,NaN,RO/JO/419,419,C/EGD/1025,Herb,26/4/1626,NaN,NaN
3,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,NaN,Middling,NaN,RO/JO/499,499,C/EGD/1025,Book,26/4/1626,NaN,NaN
4,A/EGD/1034,Steven,Malcome,Steven,Malcolm,NaN,Male,NaN,Leckie,P/ST/919,...,NaN,NaN,NaN,RO/JO/543,543,C/EGD/1045,Water,20/3/1628,RM/JO/81,Prayer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,A/LA/2989,John,Mylne,John,Milne,NaN,Female,NaN,NaN,P/ST/956,...,NaN,NaN,NaN,RO/LA/578,578,C/LA/3130,Powder,NaN,NaN,NaN
885,A/LA/2994,Janet,McNaught,Janet,MacNaught,NaN,Female,NaN,NaN,NaN,...,NaN,NaN,NaN,RO/LA/594,594,C/LA/3135,Straw,19/5/1658,NaN,NaN
886,A/LA/3001,Jonet,Kennedy,Janet,Kennedy,NaN,Female,NaN,NaN,NaN,...,Married,NaN,NaN,RO/LA/614,614,C/LA/3142,Wax,1590,NaN,NaN
887,A/LA/3115,Anna,Tait,Anne,Tait,Hononni,Female,NaN,NaN,P/JO/3539,...,Married,Middling,NaN,RO/LA/636,636,C/LA/3277,Herb,30/12/1634,NaN,NaN
888,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,NaN,NaN,NaN,RO/LA/637,637,C/LA/3278,Herb,NaN,NaN,NaN

In [26]:
witchesData.describe(include = ["object"])

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Res_settlement,Res_parish,Res_presbytery,...,Ethnic_origin,MaritalStatus,SocioecStatus,Occupation,RitualObjectRef,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type
count,889,889,889,873,878,93,888,336,532,680,...,11,374,210,120,889,889,889,858,516,516
unique,222,84,200,44,177,27,2,74,85,44,...,4,4,6,11,632,222,128,147,114,17
top,A/EGD/52,Issobell,Sampsoune,Isobel,Samson,witch of Monza,Female,Nether Keith,P/ST/490,Dalkeith,...,Gael,Married,Middling,Tasker,RO/JO/498,C/EGD/63,Water,19/3/1697,RM/LA/34,Three
freq,39,85,39,112,39,18,662,39,38,84,...,4,251,97,32,5,39,96,54,13,140

In [27]:
#combine Demonic Pacts
witchesData = witchesData.merge(demonicPacts,how = 'left', left_on="CaseRef",right_on="CaseRef",suffixes = (False, False))
witchesData

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
0,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,RO/JO/417,417,C/EGD/1025,Salve,26/4/1626,NaN,NaN,NaN,NaN,NaN
1,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,RO/JO/418,418,C/EGD/1025,Drink,26/4/1626,NaN,NaN,NaN,NaN,NaN
2,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,RO/JO/419,419,C/EGD/1025,Herb,26/4/1626,NaN,NaN,NaN,NaN,NaN
3,A/EGD/1014,Bessie,Wright,Elizabeth,Wright,NaN,Female,42.0,Querrell Mill,P/ST/141,...,RO/JO/499,499,C/EGD/1025,Book,26/4/1626,NaN,NaN,NaN,NaN,NaN
4,A/EGD/1034,Steven,Malcome,Steven,Malcolm,NaN,Male,NaN,Leckie,P/ST/919,...,RO/JO/543,543,C/EGD/1045,Water,20/3/1628,RM/JO/81,Prayer,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1591,A/LA/3115,Anna,Tait,Anne,Tait,Hononni,Female,NaN,NaN,P/JO/3539,...,RO/LA/636,636,C/LA/3277,Herb,30/12/1634,NaN,NaN,DP/LA/756,Body and soul,NaN
1592,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,RO/LA/637,637,C/LA/3278,Herb,NaN,NaN,NaN,DP/LA/750,Paction,NaN
1593,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,RO/LA/637,637,C/LA/3278,Herb,NaN,NaN,NaN,DP/LA/751,Anti-baptism,NaN
1594,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,RO/LA/637,637,C/LA/3278,Herb,NaN,NaN,NaN,DP/LA/752,Sex,NaN
1595,A/LA/3116,Bessie,Johnston,Elizabeth,Johnston,NaN,Female,NaN,NaN,P/ST/895,...,RO/LA/637,637,C/LA/3278,Herb,NaN,NaN,NaN,DP/LA/753,Body and soul,NaN

In [28]:
witchesData.describe(include = ["object"])

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Res_settlement,Res_parish,Res_presbytery,...,Occupation,RitualObjectRef,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
count,1596,1596,1596,1571,1576,118,1595,684,999,1338,...,173,1596,1596,1596,1552,1060,1060,1081,1081,377
unique,222,84,200,44,177,27,2,74,85,44,...,11,632,222,128,147,114,17,192,13,56
top,A/EGD/1544,Issobell,Gowdie,Isobel,Goudie,witch of Monza,Female,Nether Keith,P/ST/490,Dalkeith,...,Vagabond,RO/JO/498,C/EGD/1558,Water,13/4/1662,RM/LA/103,Three,DP/LA/377,Devil's Mark,shoulder
freq,180,238,180,270,180,18,1243,156,190,212,...,50,25,180,168,180,60,272,39,292,42

In [29]:
witchesData[witchesData.RitualObject_Type.str.contains("Mole's feet", case=False)]

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
1067,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/155,155,C/EGD/59,Mole's feet,NaN,RM/LA/31,Eschatology,DP/LA/371,Servant,NaN
1068,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/155,155,C/EGD/59,Mole's feet,NaN,RM/LA/31,Eschatology,DP/LA/372,Want nothing,NaN
1069,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/155,155,C/EGD/59,Mole's feet,NaN,RM/LA/31,Eschatology,DP/LA/373,Devil's Mark,Marked with a rod.

In [30]:
witchesData[witchesData.RitualObject_Type.str.contains("Flask of water", case=False)]

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
202,A/EGD/149,Isobell,Young,Isobel,Young,NaN,Female,60.0,East Barns,P/ST/703,...,RO/LA/5,5,C/EGD/160,Flask of Water,17/1/1619,RM/LA/1,Flask of Water,DP/LA/1,Anti-baptism,NaN
203,A/EGD/149,Isobell,Young,Isobel,Young,NaN,Female,60.0,East Barns,P/ST/703,...,RO/LA/5,5,C/EGD/160,Flask of Water,17/1/1619,RM/LA/1,Flask of Water,DP/LA/2,Devil's Mark,on left papie

In [31]:
witchesData.groupby('Motif_Type').size()

Motif_Type
Angels                12
Baptising animals      7
Baptism Imagery        3
Bible                 35
Cross                 12
Eschatology           44
Flask of Water        10
Holy water             8
Holy well             20
Nine                 150
Pilgrimage             6
Prayer               208
Saints               100
Sign of the cross      1
Six                   52
Three                272
Trinity              120
dtype: int64

In [32]:
witchesData.groupby('Demonic_Type').size()

Demonic_Type
Anti-baptism             190
Body and soul             14
Bond/Band                  8
Devil's Mark             292
Head and foot             50
Kisses Devil's bottom     38
New name                  93
Paction                   33
Servant                  112
Sex                      132
Tacit pact                17
Want nothing              94
tacit pact                 8
dtype: int64

In [33]:
witchesData[witchesData.CaseRef.str.contains("C/EGD/882", case=False)]

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
1386,A/EGD/871,Jonet,Andirsone,Janet,Anderson,NaN,Female,NaN,NaN,P/ST/1473,...,RO/LA/322,322,C/EGD/882,Shirt,27/2/1617,RM/LA/42,Prayer,NaN,NaN,NaN
1387,A/EGD/871,Jonet,Andirsone,Janet,Anderson,NaN,Female,NaN,NaN,P/ST/1473,...,RO/LA/322,322,C/EGD/882,Shirt,27/2/1617,RM/LA/43,Three,NaN,NaN,NaN
1388,A/EGD/871,Jonet,Andirsone,Janet,Anderson,NaN,Female,NaN,NaN,P/ST/1473,...,RO/LA/322,322,C/EGD/882,Shirt,27/2/1617,RM/LA/44,Sign of the cross,NaN,NaN,NaN

In [34]:
witchesData[witchesData.CaseRef.str.contains("C/EGD/59", case=False)]

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
1061,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/153,153,C/EGD/59,Cat,NaN,RM/LA/31,Eschatology,DP/LA/371,Servant,NaN
1062,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/153,153,C/EGD/59,Cat,NaN,RM/LA/31,Eschatology,DP/LA/372,Want nothing,NaN
1063,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/153,153,C/EGD/59,Cat,NaN,RM/LA/31,Eschatology,DP/LA/373,Devil's Mark,Marked with a rod.
1064,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/154,154,C/EGD/59,Corpse,NaN,RM/LA/31,Eschatology,DP/LA/371,Servant,NaN
1065,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/154,154,C/EGD/59,Corpse,NaN,RM/LA/31,Eschatology,DP/LA/372,Want nothing,NaN
1066,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/154,154,C/EGD/59,Corpse,NaN,RM/LA/31,Eschatology,DP/LA/373,Devil's Mark,Marked with a rod.
1067,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/155,155,C/EGD/59,Mole's feet,NaN,RM/LA/31,Eschatology,DP/LA/371,Servant,NaN
1068,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/155,155,C/EGD/59,Mole's feet,NaN,RM/LA/31,Eschatology,DP/LA/372,Want nothing,NaN
1069,A/EGD/48,John,Fean,John,Fean,Cunninghame,Male,NaN,NaN,P/ST/1357,...,RO/LA/155,155,C/EGD/59,Mole's feet,NaN,RM/LA/31,Eschatology,DP/LA/373,Devil's Mark,Marked with a rod.
1234,A/EGD/586,Bessie,Paine,Elizabeth,Payne,NaN,Female,NaN,NaN,NaN,...,RO/LA/635,635,C/EGD/597,Herb,NaN,NaN,NaN,NaN,NaN,NaN
1235,A/EGD/586,Bessie,Paine,Elizabeth,Payne,NaN,Female,NaN,NaN,NaN,...,RO/LA/681,681,C/EGD/597,Hair,NaN,NaN,NaN,NaN,NaN,NaN
1236,A/EGD/586,Bessie,Paine,Elizabeth,Payne,NaN,Female,NaN,NaN,NaN,...,RO/LA/682,682,C/EGD/597,Nail trimmings,NaN,NaN,NaN,NaN,NaN,NaN
1237,A/EGD/586,Bessie,Paine,Elizabeth,Payne,NaN,Female,NaN,NaN,NaN,...,RO/LA/683,683,C/EGD/597,Shirt,NaN,NaN,NaN,NaN,NaN,NaN
1238,A/EGD/586,Bessie,Paine,Elizabeth,Payne,NaN,Female,NaN,NaN,NaN,...,RO/LA/684,684,C/EGD/597,Fire,NaN,NaN,NaN,NaN,NaN,NaN
1239,A/EGD/586,Bessie,Paine,Elizabeth,Payne,NaN,Female,NaN,NaN,NaN,...,RO/LA/685,685,C/EGD/597,Yarn,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
witchesData.drop(['Res_settlement', 'Res_parish', 'M_Firstname', 'M_Surname', 'CaseStart_date', 'Res_county', 'RitualObjectID', 'Res_burgh', 'Ethnic_origin', 'MotifRef', 'Inversion',], axis = 1,inplace = True)

KeyError: "['Inversion'] not found in axis"

In [ ]:
witchesData[witchesData.RitualObject_Type.str.contains("Mole's feet", case=False)]

In [ ]:
witchesData[witchesData.RitualObject_Type.str.contains("Hand", case=False)]

In [ ]:
accuseds.describe(include = ["object"])

In [ ]:
top200_accused.mean()

In [ ]:
top20_rm = witchesData[['AccusedRef','CaseRef','Motif_Type']] \
                                    .groupby(['AccusedRef']) \
                                    .count() \
                                    .sort_values(by = ['Motif_Type','CaseRef'], ascending = False) \
                                    .head(200)

top200_rm = top20_rm[['Motif_Type']]
top200_rm.columns = ['Relm_Counts']
#top20_accused concludes AccusedRef and "the number of ritual objects that witch used"
top200_rm

In [ ]:
witchesData[witchesData.CaseRef.str.contains("C/EGD/882", case=False)]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
witchesData['Sex'].value_counts().plot(kind='bar')
from pylab import rcParams
rcParams['figure.figsize'] = 10,15

In [ ]:
witchesData.Sex.value_counts()

In [ ]:
witchesData.MaritalStatus.value_counts()

In [36]:
witchesData.Age.max()

84.0

In [37]:
witchesData[witchesData.AccusedRef.str.contains("A/EGD/46", case=False)]

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
1060,A/EGD/46,Meg,Dow,Margaret,Dow,NaN,Female,9.0,Gilmerton,NaN,...,RO/LA/608,608,C/EGD/57,Herb,24/5/1689,NaN,NaN,NaN,NaN,NaN

In [38]:
witchesData.min()

AccusedRef           A/EGD/1014
FirstName                  Adam
LastName              Abernethy
Age                           9
RitualObjectRef         RO/JO/1
RitualObjectID                1
CaseRef              C/EGD/1025
RitualObject_Type           Ale
dtype: object

In [39]:
print(witchesData[witchesData.Age == witchesData.Age.min()])

     AccusedRef FirstName LastName M_Firstname M_Surname Alias     Sex  Age  \
1060   A/EGD/46       Meg      Dow    Margaret       Dow   NaN  Female  9.0

     Res_settlement Res_parish  ... RitualObjectRef RitualObjectID   CaseRef  \
1060      Gilmerton        NaN  ...       RO/LA/608            608  C/EGD/57

     RitualObject_Type CaseStart_date MotifRef Motif_Type DemonicRef  \
1060              Herb      24/5/1689      NaN        NaN        NaN

      Demonic_Type Demonic_Text
1060           NaN          NaN

[1 rows x 27 columns]

In [40]:
witchesData.describe(include = ["object"])

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Res_settlement,Res_parish,Res_presbytery,...,Occupation,RitualObjectRef,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
count,1596,1596,1596,1571,1576,118,1595,684,999,1338,...,173,1596,1596,1596,1552,1060,1060,1081,1081,377
unique,222,84,200,44,177,27,2,74,85,44,...,11,632,222,128,147,114,17,192,13,56
top,A/EGD/1544,Issobell,Gowdie,Isobel,Goudie,witch of Monza,Female,Nether Keith,P/ST/490,Dalkeith,...,Vagabond,RO/JO/498,C/EGD/1558,Water,13/4/1662,RM/LA/103,Three,DP/LA/377,Devil's Mark,shoulder
freq,180,238,180,270,180,18,1243,156,190,212,...,50,25,180,168,180,60,272,39,292,42

In [41]:
witchesData.Age.max()

84.0

In [42]:
print(witchesData[witchesData.Age == witchesData.Age.max()])

     AccusedRef FirstName LastName M_Firstname M_Surname Alias     Sex   Age  \
1032  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1033  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1034  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1035  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1036  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1037  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1038  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0
1039  A/EGD/374   Beatrix   Leslie    Beatrice    Leslie   NaN  Female  84.0

     Res_settlement Res_parish  ... RitualObjectRef RitualObjectID    CaseRef  \
1032      Blackcoat  P/ST/1274  ...       RO/JO/326            326  C/EGD/385
1033      Blackcoat  P/ST/1274  ...       RO/JO/326            326  C/EGD/385
1034      Blackcoat  P/ST/1274  ...       RO/JO/326            326  C/EGD/385
1035      Blackcoat  P/ST/1274  ...       RO/JO/326            326  C/EGD/385
1036      Blackcoat  P/ST/1274  ...        RO/LA/44             44  C/EGD/385
1037      Blackcoat  P/ST/1274  ...        RO/LA/44             44  C/EGD/385
1038      Blackcoat  P/ST/1274  ...        RO/LA/44             44  C/EGD/385
1039      Blackcoat  P/ST/1274  ...        RO/LA/44             44  C/EGD/385

     RitualObject_Type CaseStart_date MotifRef Motif_Type DemonicRef  \
1032             Knife      20/7/1661      NaN        NaN  DP/LA/100
1033             Knife      20/7/1661      NaN        NaN   DP/LA/97
1034             Knife      20/7/1661      NaN        NaN   DP/LA/98
1035             Knife      20/7/1661      NaN        NaN   DP/LA/99
1036              Salt      20/7/1661      NaN        NaN  DP/LA/100
1037              Salt      20/7/1661      NaN        NaN   DP/LA/97
1038              Salt      20/7/1661      NaN        NaN   DP/LA/98
1039              Salt      20/7/1661      NaN        NaN   DP/LA/99

      Demonic_Type Demonic_Text
1032           Sex          NaN
1033  Anti-baptism          NaN
1034      New name  Bold Leslie
1035       Servant          NaN
1036           Sex          NaN
1037  Anti-baptism          NaN
1038      New name  Bold Leslie
1039       Servant          NaN

[8 rows x 27 columns]

In [43]:
witchesData.Age.value_counts()

70.0    108
46.0     50
61.0     32
55.0     31
41.0     27
37.0     22
14.0     18
49.0     17
47.0     16
16.0     15
32.0     14
53.0     14
75.0     14
30.0     13
23.0     12
60.0     10
50.0     10
84.0      8
56.0      8
36.0      8
29.0      6
39.0      6
45.0      5
31.0      5
38.0      5
64.0      4
17.0      4
42.0      4
28.0      4
65.0      3
35.0      2
48.0      2
34.0      2
57.0      1
9.0       1
43.0      1
33.0      1
Name: Age, dtype: int64

In [44]:
witchesData.loc[witchesData['Age'].idxmax()].loc['Sex']

'Female'

In [45]:
# youngest male
male_young = witchesData[witchesData['Sex']=='Male']
male_young.groupby(['Age']).Age.min()

Age
16.0    16.0
30.0    30.0
36.0    36.0
38.0    38.0
48.0    48.0
53.0    53.0
56.0    56.0
61.0    61.0
64.0    64.0
70.0    70.0
75.0    75.0
Name: Age, dtype: float64

In [46]:
witchesData[witchesData['Age'] <17]

,AccusedRef,FirstName,LastName,M_Firstname,M_Surname,Alias,Sex,Age,Res_settlement,Res_parish,...,RitualObjectRef,RitualObjectID,CaseRef,RitualObject_Type,CaseStart_date,MotifRef,Motif_Type,DemonicRef,Demonic_Type,Demonic_Text
499,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/571,571,C/EGD/1747,Pin,9/1/1677,NaN,NaN,DP/LA/435,Devil's Mark,NaN
500,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/571,571,C/EGD/1747,Pin,9/1/1677,NaN,NaN,DP/LA/436,Sex,Devil was cold
501,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/571,571,C/EGD/1747,Pin,9/1/1677,NaN,NaN,DP/LA/437,New name,Euoppa (?Anipper)
502,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/571,571,C/EGD/1747,Pin,9/1/1677,NaN,NaN,DP/LA/438,Head and foot,NaN
503,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/571,571,C/EGD/1747,Pin,9/1/1677,NaN,NaN,DP/LA/439,Want nothing,NaN
504,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/571,571,C/EGD/1747,Pin,9/1/1677,NaN,NaN,DP/LA/440,Anti-baptism,NaN
505,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/62,62,C/EGD/1747,Wax/clay images,9/1/1677,NaN,NaN,DP/LA/435,Devil's Mark,NaN
506,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/62,62,C/EGD/1747,Wax/clay images,9/1/1677,NaN,NaN,DP/LA/436,Sex,Devil was cold
507,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/62,62,C/EGD/1747,Wax/clay images,9/1/1677,NaN,NaN,DP/LA/437,New name,Euoppa (?Anipper)
508,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/62,62,C/EGD/1747,Wax/clay images,9/1/1677,NaN,NaN,DP/LA/438,Head and foot,NaN
509,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/62,62,C/EGD/1747,Wax/clay images,9/1/1677,NaN,NaN,DP/LA/439,Want nothing,NaN
510,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/62,62,C/EGD/1747,Wax/clay images,9/1/1677,NaN,NaN,DP/LA/440,Anti-baptism,NaN
511,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/63,63,C/EGD/1747,Fire,9/1/1677,NaN,NaN,DP/LA/435,Devil's Mark,NaN
512,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/63,63,C/EGD/1747,Fire,9/1/1677,NaN,NaN,DP/LA/436,Sex,Devil was cold
513,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/63,63,C/EGD/1747,Fire,9/1/1677,NaN,NaN,DP/LA/437,New name,Euoppa (?Anipper)
514,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/63,63,C/EGD/1747,Fire,9/1/1677,NaN,NaN,DP/LA/438,Head and foot,NaN
515,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/63,63,C/EGD/1747,Fire,9/1/1677,NaN,NaN,DP/LA/439,Want nothing,NaN
516,A/EGD/1730,Annabell,Stewart,Annabel,Stewart,NaN,Female,14.0,Pollokshaws,P/ST/1328,...,RO/JO/63,63,C/EGD/1747,Fire,9/1/1677,NaN,NaN,DP/LA/440,Anti-baptism,NaN
517,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/572,572,C/EGD/1748,Pin,3/1/1677,NaN,NaN,DP/LA/430,Devil's Mark,NaN
518,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/572,572,C/EGD/1748,Pin,3/1/1677,NaN,NaN,DP/LA/431,Anti-baptism,NaN
519,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/572,572,C/EGD/1748,Pin,3/1/1677,NaN,NaN,DP/LA/432,Head and foot,NaN
520,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/572,572,C/EGD/1748,Pin,3/1/1677,NaN,NaN,DP/LA/433,Want nothing,NaN
521,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/572,572,C/EGD/1748,Pin,3/1/1677,NaN,NaN,DP/LA/434,New name,Jonas
522,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/64,64,C/EGD/1748,Wax/clay images,3/1/1677,NaN,NaN,DP/LA/430,Devil's Mark,NaN
523,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/64,64,C/EGD/1748,Wax/clay images,3/1/1677,NaN,NaN,DP/LA/431,Anti-baptism,NaN
524,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/64,64,C/EGD/1748,Wax/clay images,3/1/1677,NaN,NaN,DP/LA/432,Head and foot,NaN
525,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/64,64,C/EGD/1748,Wax/clay images,3/1/1677,NaN,NaN,DP/LA/433,Want nothing,NaN
526,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/64,64,C/EGD/1748,Wax/clay images,3/1/1677,NaN,NaN,DP/LA/434,New name,Jonas
527,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/65,65,C/EGD/1748,Fire,3/1/1677,NaN,NaN,DP/LA/430,Devil's Mark,NaN
528,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/65,65,C/EGD/1748,Fire,3/1/1677,NaN,NaN,DP/LA/431,Anti-baptism,NaN
529,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/65,65,C/EGD/1748,Fire,3/1/1677,NaN,NaN,DP/LA/432,Head and foot,NaN
530,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/65,65,C/EGD/1748,Fire,3/1/1677,NaN,NaN,DP/LA/433,Want nothing,NaN
531,A/EGD/1731,Jon,Stewart,John,Stewart,NaN,Male,16.0,Pollokshaws,P/ST/1328,...,RO/JO/65,65,C/EGD/1748,Fire,3/1/1677,NaN,NaN,DP/LA/434,New name,Jonas
1060,A/EGD/46,Meg,Dow,Margaret,Dow,NaN,Female,9.0,Gilmerton,NaN,...,RO/LA/608,608,C/EGD/57,Herb,24/5/1689,NaN,NaN,NaN,NaN,NaN

In [48]:
witchesData.MeetingPlace.value_counts()

AttributeError: 'DataFrame' object has no attribute 'MeetingPlace'